doctype HTML
html
  head
    title Editar Trabajador
    meta(charset="UTF-8")
    script(src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js")
    script(src="../js/semantic.min.js")
    link(rel="stylesheet" type="text/css" href="../css/semantic.min.css")
    style.
      body {
        padding: 1em 0em;
      }
      #breadcrumb{
        margin-top:7em;
      }
      .ui.grid{
        margin-top:3em;
        padding: 0em;
      }
      .ui.grid .row{
        margin-left:5em;
      }
  body
    .ui.fixed.inverted.menu
      .ui.container
        a.header.item
          img.logo(src="../css/logo.png")
          | Project Hopkins
        a.item(href="/principal") Home
        a.item Clientes
        a.item Vehiculos
        .ui.simple.dropdown.item Setting
          i.dropdown.icon
          .menu
            a.item(href="/administradorPrincipal") Administradores
            a.item(href="/clientePrincipal") Clientes
            a.item(href="/pedidoPrincipal") Pedidos
            a.item(href="/trabajadorPrincipal") Trabajadores
            a.item(href="/vehiculoPrincipal") Vehiculos


        .right.menu
          .item
            .ui.inverted.transparent.icon.input
              input(type='text' placeholder='search...')
              i.search.icon
          .item
            a.ui.red.inverted.button(href="/logout") Log Out

    .ui.container#breadcrumb
      .ui.huge.breadcrumb
        a.section(href="/principal") Home
          i.right.chevron.icon.divider
        a.section(href="/trabajadorPrincipal") Setting
          i.right.chevron.icon.divider
        a.section(href="/trabajadorPrincipal") Trabajador
          i.right.arrow.icon.divider
        .active.section Editar Trabajador

    .ui.grid
      .ui.row
        .five.wide.column
          .ui.inverted.vertical.menu
            a.item(href="/administradorPrincipal") Administradores
            a.item(href="/clientePrincipal") Clientes
            a.item(href="/pedidoPrincipal") Pedidos
            a.active.item(href="/trabajadorPrincipal") Trabajadores
            a.item(href="/vehiculoPrincipal") Vehiculos
        .eleven.wide.column
          .ui.container
            form.ui.form(action="/editarTrabajador" method="post")
              .field
                .fields
                  .nine.wide.field
                    h3.ui.dividing.header Editar Trabajador

              .field
                .fields
                  .nine.wide.field
                    .field
                      label Nombre: 
                      input(type="text" placeholder="nombre" value="#{objResult_trab.nombre}" name="firstNameTrabajador")

              .field
                .fields
                  .nine.wide.field
                    .field
                      label Apellido: 
                      input(type="text" placeholder="apellido" value="#{objResult_trab.apellido}" name="lastNameTrabajador")

              .field
                .fields
                  .nine.wide.field
                    .field
                      label Telefono: 
                      input(type="text" placeholder="telefono" value="#{objResult_trab.telefono}" name="telefonoTrabajador")

              .field
                .fields
                  .nine.wide.field
                    .field
                      label DNI: 
                      input(type="text" placeholder="dni" value="#{objResult_trab.dni}" name="dniTrabajador")              
              input(type="hidden" value="#{objResult_trab.id}" name="idTrabajador")
              a.ui.black.button(href="/trabajadorPrincipal") Cancelar
              input.ui.black.button(type="submit" value="Guardar")

  script.
    $(".form")
      .form({
        inline:true,
        on:'blur',
        fields:{
          nombre:{
            identifier : 'firstNameTrabajador',
            rules : [{
              type : 'empty',
              prompt : 'Ingrese un nombre'
            }]
          },
          apellido:{
            identifier : 'lastNameTrabajador',  
            rules : [{
              type : 'empty',
              prompt : 'Ingrese un apellido'
            }]
          },
          telefono:{
            identifier : 'telefonoTrabajador',
            rules : [
              {
                type:'empty',
                prompt : 'Ingrese un numero de telefono'
              },
              {
                type:'number',
                prompt : 'Ingrese un numero de telefono valido'
              }
            ]
          },
          dni:{
            identifier : 'dniTrabajador',
            rules : [
              {
                type : 'empty',
                prompt : 'Ingrese un DNI'
              },
              {
                type : 'number',
                type : 'exactLength[8]',
                prompt : 'Ingrese un numero DNI valido'
              }
            ]
          }
        }
      });
