doctype HTML
html
  head
    title Vehiculo
    meta(charset="UTF-8")
    script(src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js")
    script(src="../js/semantic.min.js")
    link(rel="stylesheet" type="text/css" href="../css/semantic.min.css")
    style.
      body {
        padding: 1em 0em;
      }
      #breadcrumb{
        margin-top:7em;
      }
      .ui.grid{
        margin-top:3em;
        padding: 0em;
      }
      .ui.grid .row{
        margin-left:5em;
      }
      .ui.grid .text.container{
        width:70em;
      }
      .ui.grid .table{
        font-size:0.9em;
      }
      .ui.grid th .item_tr{
        width:10em;
      }
      .ui.grid .table th{
        height:2em;
      }
      .ui.grid table tbody{
        font-size : 1em;
      }
      .item_tr:hover {
        background: #A1CCEC;
      }
      .ui.container.botones{
        padding-left: 2em;
      }
      .ui.container#message{
        margin-top: 2em;
      }
      i.trash.icon.icono_trash {
        color: #4183C4;
        cursor: pointer;
      }
  body

    .ui.fixed.inverted.menu
      .ui.container
        a.header.item
          img.logo(src="../css/logo.png")
          | Project Hopkins
        a.item(href="/principal") Home
        a.item Clientes
        a.item Vehiculos
        .ui.simple.dropdown.item Setting
          i.dropdown.icon
          .menu
            a.item(href="/administradorPrincipal") Administradores
            a.item(href="/clientePrincipal") Clientes
            a.item(href="/pedidoPrincipal") Pedidos
            a.item(href="/trabajadorPrincipal") Trabajadores
            a.item(href="/vehiculoPrincipal") Vehiculos


        .right.menu
          .item
            .ui.inverted.transparent.icon.input
              input(type='text' placeholder='search...')
              i.search.icon
          .item
            a.ui.red.inverted.button Log Out

    .ui.container#breadcrumb
      .ui.huge.breadcrumb
        a.section(href="/principal") Home
          i.right.chevron.icon.divider
        a.section Setting
          i.right.chevron.icon.divider
        .active.section Vehiculo

    .ui.grid
      .ui.row
        .five.wide.column
          .ui.inverted.vertical.menu
            a.item(href="/administradorPrincipal") Administradores
            a.item(href="/clientePrincipal") Clientes
            a.item(href="/pedidoPrincipal") Pedidos
            a.item(href="/trabajadorPrincipal") Trabajadores
            a.active.item(href="/vehiculoPrincipal") Vehiculos

          .ui.container.botones
            a.ui.black.button.boton_probando Editar
            a.ui.black.button(href="/vehiculoCrear") Crear

        .eleven.wide.column
          .ui.text.container
            table.attached.ui.table
              thead.center.aligned
                tr
                  th
                  th Tipo Vehiculo
                  th Modelo
                  th Placa
              tbody.center.aligned
                each vehiculo in objResult_vehiculo
                  tr.item_tr
                    th
                      a(href="/vehiculoEditar?id="+vehiculo.id)
                        i.write.icon.icono_write
                      i.trash.icon.icono_trash(attr_id=vehiculo.id)
                    th
                      label.modal_show(attr_obj=JSON.stringify(vehiculo)) #{vehiculo.tipo_vehiculo}
                    th
                      label #{vehiculo.modelo_vehiculo}
                    th
                      label #{vehiculo.placa}

    .ui.modal.principal
      .header Informacion
      .content
        h4 Tipo Vehiculo
        #vehiculo_tipo
        h4 Modelo Vehiculo
        #vehiculo_modelo
        h4 Placa Vehiculo
        #vehiculo_placa

    .ui.container#message
      if mostrarMensaje && mostrarTitulo
        .ui.message
          i.close.icon
          .header
            | #{mostrarTitulo}
          p
            | #{mostrarMensaje}

    .ui.small.modal
      .header Borrar Administrador
      .content ¿Esta seguro de eliminar este administrador?
      .actions
        .ui.negative.button No
        .ui.positive.right.labeled.icon.button Aceptar
          i.checkmark.icon
      form(id="form_delete" action="/vehiculoEliminar" method="post")
        input#input_id_delete(type="hidden" name="id")

  script.
    $(".message .close").on("click",function(){
      $(this)
        .closest(".message")
        .transition("fade");
    });

    if(!{modo}){
      $(".ui.message").addClass("positive");
    }else{
      $(".ui.message").addClass("negative");
    }

  script.
    $(".icono_trash").hide();
    $(".icono_write").hide();
    $(".boton_probando").on("click",function(){
      $(".icono_write").toggle();
      $(".icono_trash").toggle();
    })

  script.
    $(".icono_trash").on("click",function(){
      var idVehiculo = $(this).attr("attr_id");
      $(".ui.small.modal")
        .modal({
          clossable:false,
          onApprove:function(){
          $("#input_id_delete").val(idVehiculo);
          $("#form_delete").submit();
          }
        })
        .modal('show');
    });
  script.
    $(".modal_show").on("click",function(){
      var attr_obj = $(this).attr("attr_obj");
      attr_obj = JSON.parse(attr_obj);

      var attr_tipo = attr_obj.tipo_vehiculo;
      var attr_modelo = attr_obj.modelo_vehiculo;
      var attr_placa = attr_obj.placa;
      $("#vehiculo_tipo").text(attr_tipo);
      $("#vehiculo_modelo").text(attr_modelo);
      $("#vehiculo_placa").text(attr_placa);

      $(".ui.modal.principal")
        .modal("show")
    });



